.list-container {
    display: flex;
    column-gap: 10px;
}

.list {
    flex: 'flex-basis';
    height: 70px;
    padding-left: 16px;
    padding-right: 16px;

    border: 2px solid #EEE;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    display: flex;
    flex: 1;
    column-gap: 10px;
}

.list-action {
    flex: 'flex-basis';
    align-self: center;
    width: 50px;
}