.list-container {
    display: flex;
    column-gap: 10px;
}

.list {
    flex: 'flex-basis';
    height: 50px;
    line-height: 50px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid lightgray;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex: 1;
}

.list-action {
    flex: 'flex-basis';
    width: 50px;
    border: none;
    cursor: pointer;
}